<div id="<%= dom_id doctor %>">
  <p>
    <strong>Name:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Crm:</strong>
    <%= doctor.crm %>
  </p>

  <p>
    <strong>Crm uf:</strong>
    <%= doctor.crm_uf %>
  </p>

</div>
